{% extends 'head.html' %}
{% block head%}
    <title>{{_cfg_.site.title}}</title>
{%endblock%}
{%block body%}
  <section id="container" class="">
      <!--header start-->
      {%include "head_nav.html"%}
      <!--header end-->
      <!--sidebar start-->
      <!--sidebar end-->
      <!--main content start-->
      <section id="main-content">
          <section class="wrapper">
              <!-- page start-->
              <div class="row">
                  <div class="col-lg-12">
                      <!--breadcrumbs start -->
                      <ul class="breadcrumb">
                          <li><a href="/home/index.html"><i class="icon-home"></i>首页</a></li>
                          <li><a href="#">二级代理</a></li>
                          <li class="active">代理列表</li>
                      </ul>
                      <!--breadcrumbs end -->
                  </div>
              </div>
              <div class="row">
                  <div class="col-lg-12">
                      <section class="panel">
                          <header class="panel-heading">
                              	代理列表
                          </header>
                          <div class="panel-body">
                              <button type="submit" class="btn btn-round btn-primary" onclick="javascript:window.location.href='/agent/add.html'">添加</button>
                          </div>
                          {% if type == 1 %}
                          <div class="panel-body">
                              <form class="form-inline" name = "agent_form" method = "get" action = "/agent/lists.html">
                             	 <div class="form-group">
                                   	   一级代理：
                                     <select class="form-control m-bot15" name = "uid" data-value = "{{uid}}" onchange = "document.all.agent_form.submit()">
                                     	<option value = '0'>请选择</option>
                                     	{% for key,item in user_lists %}
                                              <option value = "{{item.id}}" {% if uid== item.id %}selected{%endif%}>{{item.name}}</option>
                                        {% endfor %}      
                                       </select> 
                                   </div>
                                       <button type="submit"  class="btn btn-shadow btn-primary">查询</button>
                              </form>
                          </div>
                          {% endif %}
                          <table class="table table-striped border-top" id="sample_1">
                          <thead>
                          
                          <tr>
                              <th>姓名</th>
                              <th>手机号</th>
                             {% if type == 1 %}
                              <th>操作</th>
                              {% endif %}
                          </tr>
                          </thead>
                          <tbody>
                            {% for key,item in lists %} 
                           <tr class="odd gradeX">
                              <input type = "hidden" name = 'id' class = "id" value = "{{item.id}}">                           
                              <td>{{item.name}}</td>
                              <td>{{item.phone}}</td>
                               {% if type == 1 %}
                              <td class="">
                              		  <button class="btn btn-primary btn-xs" onclick="javascript:window.location.href='/agent/modify.html?id={{item.id}}'"><i class="icon-pencil"></i></button>
                                      <button class="btn btn-danger btn-xs"><i class="icon-trash "></i></button>
                              </td>
                              {% endif %}
                          </tr>
                          {% endfor %}
                         
                          </tbody>
                          </table>
                      </section>
                  </div>
              </div>
              <!-- page end-->
          </section>
      </section>
      <!--main content end-->
    </section>
{%include "foot.html"%}
<script type="text/javascript">
//提交按钮
$('.btn-danger').click(function(){
	
    event.preventDefault();
    var del_info  = confirm('你确定要删除吗？');
    var  id = $(this).parents('tr').find('.id').val();
    if(del_info){
    	$.ajax({
    		url: '/agent/del.json',
    		method: 'POST',
    		data:{id:id},  
    		success: function(re){
				if (re.error_code == 0) {
					alert('删除成功');
					window.location.reload();
				} else {
					alert(re.error_msg);
				}		
    		}
    	});
    }

});
</script>
{%endblock%}