 	<header class="header white-bg">
<!--           <div class="sidebar-toggle-box">
              <div data-original-title="Toggle Navigation" data-placement="right" class="icon-reorder tooltips"></div>
          </div> -->
          <!--logo start-->
          <a href="#" class="logo" >乐活网管理后台<span></span></a>
          <!--logo end-->
<!--           <div class="top-nav ">
              <ul class="nav pull-right top-menu">
                  user login dropdown start
                  <li class="dropdown">
                      <a data-toggle="dropdown" class="dropdown-toggle" href="#">
                          <span class="username">{{nickname}}</span>
                          <b class="caret"></b>
                      </a>
                      <ul class="dropdown-menu extended logout">
                          <li><a href="/admin/logout"><i class="icon-key"></i>注销</a></li>
                      </ul>
                  </li>
                  user login dropdown end
              </ul>
          </div> -->
      </header>
      <aside>
          <div id="sidebar"  class="nav-collapse ">
              <!-- sidebar menu start-->
              <ul class="sidebar-menu">
                  <li class="sub-menu {% if menu =='home' %}active{% else %}{% endif %}">
                      <a class="" href="/home/index.html">
                          <i class="icon-dashboard"></i>
                          <span>首页</span>
                      </a>
                  </li>

                  <li class="sub-menu {% if menu =='project' %}active{% else %}{% endif %}">
                      <a href="javascript:;" class="">
                          <i class="icon-th"></i>
                          <span>项目管理</span>
                          <span class="arrow"></span>
                      </a>
                      <ul class="sub">
                      	  <li class="{% if sub =='lists' %}active{% else %}{% endif %}"><a class="" href="/project/lists.html">项目列表</a></li>
                          <li class="{% if sub =='add' %}active{% else %}{% endif %}"><a class="" href="/project/add.html">添加项目</a></li>
                      </ul>
                  </li>
                  <li class="sub-menu {% if menu =='me' %}active{% else %}{% endif %}">
                      <a class="" href="/user/modify.html">
                          <i class="icon-user"></i>
                          <span>个人中心</span>
                      </a>
                  </li>
              </ul>
              <!-- sidebar menu end-->
          </div>
      </aside>